/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* height */
::-webkit-scrollbar {
  height: 7px !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: #d8dadd4b !important;
  border-radius: 0px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue--six !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: $blue--seven !important;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}
/* Scroll Bar */